#board {
  $size: $board-size;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 50px #00a3ff;
  opacity: 0.95;
  width: $size;
  height: $size;
  opacity: 0.95;
  outline: 10px solid rgba(0, 222, 255, 0.6);
}

.square {
  /* border: 1px darkslategrey solid; */
  $size: $board-size/8;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  font-size: 6.5vh;
}


.currentcolor{
  background-color: #00ffaf!important;
}

.light {
  background: #6bc4db;
}
.dark {
  background: $dark;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.possibleMove {
  background: $moves;
}

.promotion-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}

.promotion {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.promotion-queen i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-king i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-knight i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-bishop i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-rook i {
  font-size: 100px;
  cursor: pointer;
}
