#board {
  $size: $board-size;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 50px #00a3ff;
  opacity: 0.95;
  width: $size;
  height: $size;
  opacity: 0.95;
  outline: 10px solid rgba(102, 237, 255, 0.719);
}
#board.pink {
  box-shadow: 0px 4px 50px #FF1C1C;
  outline: 10px solid rgba(255, 88, 66, 0.6);
}
#board.green {
  box-shadow: 0px 4px 50px #00482A;
  outline: 10px solid rgba(9, 66, 28, 0.6);
}
#board.purple {
  box-shadow: 0px 4px 50px #490063;
  outline: 10px solid rgba(43, 0, 63, 0.6);
}

.square {
  /* border: 1px darkslategrey solid; */
  $size: $board-size/8;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  //font-size: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.light {
  background: #0F96C0;
}
.light.pink {
  background: #EEB19E;
}
.light.green {
  background: #9ECE87;
}
.light.purple {
  background: #A887DE;
}

.dark {
  background: $dark;
}
.dark.pink {
  background: #A64260;
}
.dark.green {
  background: #409363;
}
.dark.purple {
  background: #5C42A6;
}


.check {
  background: red;
}
.pat {
  background: yellow;
}
.black {
  color: $black;
}
.black.pink {
  color: #43267E;
}
.black.green {
  color: #19422A;
}
.black.purple {
  color: #391A62;
}

.white {
  color: $white;
}

.possibleMove {
  background: $moves;
}
.possibleMove.pink {
  background: #FFE5A1;
}
.possibleMove.green {
background: #FDFFA0;
}
.possibleMove.purple {
  background: #9935D7;
  }


.promotion-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}

.promotion {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.promotion-queen i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-king i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-knight i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-bishop i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-rook i {
  font-size: 100px;
  cursor: pointer;
}
