@font-face {
  font-family: 'Munro';
  src: url('../font/munro-small.ttf') format('truetype');
}
#board {
  grid-column: span 8;
  $size: $board-size;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 50px #00a3ff;
  opacity: 0.95;
  width: $size;
  height: $size;
  outline: 10px solid rgba(0, 222, 255, 0.6);
}

#notation-horizontal {
  padding-top: 1em;
  display: inline-flex;
  grid-column: span 8;
  width: $board-size;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  div {
    width: $board-size/8;
    text-align: center;
    font-family: Munro;
    font-size: $notation-font-size;
    color: white;
    line-height: $notation-font-size;
  }
}
#notation-vertical {
  padding-left: 1em;
  display: inline-flex;
  flex-direction: column-reverse;
  grid-column: 11;
  grid-row: 1/-1;
  height: $board-size;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  div {
    height: $board-size/8;
    text-align: center;
    font-family: Munro;
    font-size: $notation-font-size;
    color: white;
    line-height: $board-size/8;
  }
}

.square {
  $size: $board-size/8;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  font-size: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.currentcolor{
  background-color:pink !important;
}

.light {
  background: #6bc4db;
}
.dark {
  background: $dark;
}
.check {
  background: red;
}
.pat {
  background: yellow;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.possibleMove {
  background: $moves;
}

.promotion-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}

.promotion {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.promotion-queen i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-king i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-knight i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-bishop i {
  font-size: 100px;
  cursor: pointer;
}

.promotion-rook i {
  font-size: 100px;
  cursor: pointer;
}
