@font-face {
  font-family: 'Neon Tubes 2';
  src: url('../font/NeonTubes2.otf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      180deg,
      #0e0b21 0%,
      rgba(54, 34, 176, 0.15) 71.88%,
      rgba(57, 37, 175, 0.125) 84.9%,
      rgba(255, 255, 255, 0) 100%,
      #00ffff 100%
    ),
    url('../img/background.jpg');
  
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}


body.pink {
  background-image: url('https://funkyimg.com/i/33Fbt.png');
  background-size: cover;
}
body.green {
  background-image: url('https://funkyimg.com/i/33FfG.jpg');
  background-size: cover;
}
body.purple {
  background-image: url('https://funkyimg.com/i/33FiU.jpg');
  background-size: cover;
}

#game-title {
  font-family: 'Neon Tubes 2';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  color: #00f0ff;
  text-shadow: 0px 4px 30px #00f0ff, 0px 4px 25px #00f0ff, 0px 4px 10px rgba(0, 194, 255, 0.25);
}
#game-title.pink {
  color: #FFCF86;
  text-shadow: 0px 4px 30px #FF9900, 0px 4px 25px #FF9900, 0px 4px 10px rgba(255, 107, 0, 0.25);}
  
  #game-title.green {
    color: #44FF92;
    text-shadow: 0px 4px 30px #36D329, 0px 4px 25px #36D329, 0px 4px 10px rgba(54, 211, 14, 0.25);}
    
    #game-title.purple {
      color: #E0BFFF;
      text-shadow: 0px 4px 30px #AD00FF, 0px 4px 25px #AD00FF, 0px 4px 10px rgba(173, 0, 255, 0.25);}
    

      .currentcolor.pink{
        background-color: #FFB55E!important;
      }
      .currentcolor.green{
        background-color: #56B794!important;
      }
      .currentcolor.purple{
        background-color: #E785FF!important;
      }
    
  #wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
