#startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $dark;
  opacity: 0.95;
  mix-blend-mode: normal;
  z-index: 2;
  font-family: 'Neon Tubes 2';
  #startTextBorder {
    #startText {
      background: linear-gradient(
        180deg,
        rgba(173, 0, 255, 0.14) 0%,
        rgba(23, 24, 68, 0.26) 36.98%,
        rgba(24, 24, 70, 0.44) 69.27%,
        rgba(173, 0, 255, 0.12) 100%
      );
      #play:hover {
        cursor: pointer;
        transition:all 0.3s;
        -moz-transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition:all 0.3s;
      }
      display: inline-block;
      margin: auto;
      // height: 100vh;
      box-shadow: 0px 0px 25px #ad00ff;
      outline: 3px solid #ad00ff;
      padding: 20px;
      filter: blur(1px);

      h1,
      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
      }

      h1 {
        font-size: 70px;
        line-height: 80px;
        color: $orange;
        text-shadow: 0px 4px 10px #24ff00;
        text-shadow: 3px 3px 2px #f5b7ff;
        text-decoration-line: underline;
      }
      h2 {
        font-size: 45px;
        line-height: 60px;
        color: $yellow;
        text-shadow: 0px 0px 10px #dbff00;
        text-shadow: 2px 2px 2px #f5b7ff;
      }
    }
  }
}


#startScreen :hover {

box-shadow: 0px 0px 35px #ad00ff;
filter: alpha(opacity=0);
}

#startSCreen {
    filter: alpha(opacity=100);


    }

    #startText :hover {box-shadow: 0px 0px 0px #ad00ff; }