@font-face {
  font-family: 'Neon Tubes 2';
  src: url('../font/NeonTubes2.otf') format('opentype');
}
$light: #bfe3ed;
$dark: #171844;
$black: #5228c9;
$white: #ffffff;
$moves: #00ffaf;
$board-size: 70vh;
$gradient-size: 80vh;
html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      180deg,
      #0e0b21 0%,
      rgba(54, 34, 176, 0.15) 71.88%,
      rgba(57, 37, 175, 0.125) 84.9%,
      rgba(255, 255, 255, 0) 100%,
      #00ffff 100%
    ),
    url('../img/background.jpg');

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
#game-title {
  font-family: 'Neon Tubes 2';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  color: #00f0ff;
  text-shadow: 0px 4px 30px #00f0ff, 0px 4px 25px #00f0ff, 0px 4px 10px rgba(0, 194, 255, 0.25);
}
#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

#board {
  $size: $board-size;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 4px 50px #00a3ff;
  opacity: 0.95;
  width: $size;
  height: $size;
  opacity: 0.95;
  outline: 10px solid rgba(0, 222, 255, 0.6);
}

.square {
  /* border: 1px darkslategrey solid; */
  $size: $board-size/8;
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size;
  font-size: 6.5vh;
}
.light {
  background: #6bc4db;
}
.dark {
  background: $dark;
}
.black {
  color: #0f6bb9;
}
.white {
  color: #ffff;
}
.possibleMove {
  background: $moves;
}
