
        .chessTimer {
            font-size: 17px;
            color: #fff;
            background: rgba(0, 194, 255, 0.6);
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px ;
            text-align: center;
            position: fixed;
            align-self: center;
            justify-content: right; 
            z-index: 1;
            left: 70% ;
            font-family: 'Neon Tubes 2';
        }
        
        h3 { 
        font-size: 14px;
        background: rgba(255, 255, 255, 0.4);
        width: 140px;
        margin-left: 0px;
        text-align: center;
        height: 17px;
        justify-content: center;
        align-items: center;
        }
        h5 { 
            font-size: 14px;
            background: rgba(8, 14, 68, 0.4);
            width: 140px;
            margin-left: 0px;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 17px;
        }
        #timerwhite {
            background: rgba(255, 255, 255, 0.3);
            width: 140px;
            margin-left: -15px;
            height: 60px;
            justify-content: center;
            align-items: center;
            margin-top: -10px;
        }
        #timerblack {
            background: rgba(13, 3, 43, 0.3);
            width: 140px;
            margin-left: -15px;
            height: 70px;
            margin-top: -10px;
            justify-content: center;
            align-items: center;
            
        }