
        .chessTimer {
            font-size: 17px;
            color: #fff;
            background: rgba(0, 194, 255, 0.6);
            padding: 10px;
            padding-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px ;
            text-align: center;
          
            position: fixed;
            align-self: center;
            justify-content: right; 
            left: 70% ;
            font-family: 'Neon Tubes 2';
        }
        
    
        .chessTimer :nth-child(1){
            padding: 8px;
            font-size: 12px;
            background: black;
            justify-content: center;
            position: relative;
            top: 10px;
            padding-bottom: 50px ;
            display: block;
            width: 130px;
            right: 10px;
            font-family: 'Neon Tubes 2';
            background: rgba(23, 24, 68, 0.6);
        }
        .chessTimer :nth-child(2){
            font-size: 12px;
            padding: 8px;
            background: red;
            justify-content: center ;
            position: relative;
            top: 20px;
            padding-bottom: 50px ;
            display: block;
            width: 130px;
            right: 10px;
            font-family: 'Neon Tubes 2';
            background: rgba(23, 24, 68, 0.6);
        }